<template>
  <div>
    <h2><label>Nombre: </label>{{ User.name }}</h2>
    <h2><label>Email: </label>{{ User.email }}</h2>
    <h2><label>Password: </label>{{ User.password }}</h2>
  </div>
</template>

<script lang="ts" setup>
import { useRoute } from 'vue-router'
import UserService from '@/services/UserService';
import { onMounted, onBeforeMount } from 'vue'

const service = new UserService()
const User = service.getUser()

onMounted(async () => {
  const router = useRoute()
  const email = router.params.email as string
  await service.fetchUser(email)
})

</script>

<style></style>
